<div class="column is-4">
  <div class="block homeblock">
    <img src="../assets/img/photo.jpeg" class="circle" style="height: 180px; width: 180px">

    <h1>Andre R. S.</h1>

    <h4>Fullstack Software Engineer</h4>

    <p>
      I've been working as a software engineer since 2010. I've used a
      multitude of programming languages, but lately I've been
      focusing on Ruby and React. I also have a strong interest in
      Functional Programming, particularly Clojure.
    </p>

    <p>
      Besides working as a developer, I also enjoy being a father, a
      husband, taking care of my eight cats, reading, playing the
      guitar, and tabletop games. I'm a huge fan of RPGs, and strategy
      board games—like Chess, and Hnefatafl.
    </p>

    <p>
      Feel free to reach me
      at <a href="mailto:contact@ars.dev.br">contact@ars.dev.br</a>.
    </p>
  </div>
</div>
