<div class="column is-4">
  <div class="block homeblock">
    <h1>Andre R. S.</h1>

    <h4>Fullstack software engineer</h4>

    <p>
      Since 2010, I've worked with a multitude of backend programming
      languages, like C++, C#, Java, Kotlin and Ruby. Lately, I've
      been focusing on Ruby and on learning Clojure.
    </p>

    <p>
      On the frontend, I've worked with jQuery, Angular, Ember and
      React.
    </p>

    <p>
      Feel free to reach me
      at <a href="mailto:contact@ars.dev.br">contact@ars.dev.br</a>.
    </p>
  </div>
</div>
