<div class="column is-4">
  <div class="block homeblock">
    <img src="../assets/img/photo.jpeg" class="circle" style="height: 180px; width: 180px">

    <h1>Andre R. S.</h1>

    <h4>Fullstack Software Engineer</h4>

    <p>
      I've been working as a software engineer since 2010. I've used a
      multitude of programming languages, but lately I've been
      focusing on Ruby. I also have an interest in Programming
      Languages as a study subject and I'm highly curious about how
      well Functional Programming works in practice.
    </p>

    <p>
      Besides working as an engineer, I enjoy taking care of my cats,
      reading, gaming, and playing the guitar. If you think we should
      be in touch, feel free to reach me
      at <a href="mailto:contact@ars.dev.br">contact@ars.dev.br</a>.
    </p>
  </div>
</div>
